In [3]:
import pandas as pd

In [79]:
def getVotingResult(df):

    optionList = ['Adaptation WITHIN Ordinary', 'Chances WITHIN Reach/Doorstep', 'Data WITHIN Users', 
                 'Decentralization WITHIN Resilience', 'Flexibility WITHIN Resilience', 'Individual WITHIN Crowd',
                 'Normality WITHIN Resilience', 'Resilience WITHIN Order', 'Space WITHIN Epidemic', 'Parking WITHIN Reach']

    # list all voters and options
    votees = list(df)
    del votees[0]
    votees

    # list all options
    options = []
    for i in range(10):
        options.append(str(i+1))

    #list all voters
    voters = [ 'A','B','C','D','E','F','G','H','I','J','K','L']

    # count the total ballots of every voter
    df = df.drop(columns = ['name'])
    df['total'] = df.apply(lambda x: x.sum(), axis=1)  

    # normalize the total ballots of every voter to 100 if number of someone's total ballots is more than 100
    for i in range(len(df)):
        if df['total'][i]>100:
            df.iloc[i] = df.iloc[i]/df['total'][i]*100

    totalBallots = sum(df['total'])

    # df1 for options, df2 for voters    
    df1 = df.iloc[:, 0:10]
    df2 = df.iloc[:,10:-1]

    # calculate how many ballots every voter give to options
    df1['counts'] = df1.apply(lambda x: x.sum(), axis=1)  
    
    # calculate how many ballots every voter get from voters
    df2.loc['ballots'] = df2.apply(lambda x: x.sum()) 

    # calculate how many ballots every voter give to options after being weighted by the ballots from voters
    df1['realCounts'] = df1['counts']
    for i in range(len(df)):
        df1['realCounts'][i] += df2[voters[i]]['ballots']

    # calculate how many ballots every option per voter gets after being weighted by the ballots from voters    
    for i in range(len(df1)):
        for option in options:
            df1[option][i] = df1[option][i]*df1['realCounts'][i]/df1['counts'][i]

    # calculate final total ballots of every option 
    result = {}
    for option in options:
        result[option] = sum(df1[option])

    results = {}
    for i in range(len(options)):
        results[optionList[i]] = sum(df1[options[i]])

    # get the best 2 options
    btos = sorted(list(result.values()), reverse = True)
    first = list(result.values()).index(btos[0])
    second = list(result.values()).index(btos[1])
    print('The first option is: '+ optionList[first])
    print('The second option is: '+ optionList[second])
    print('===================================================')
    print('Total votes: '+str(totalBallots))
    print('Abstention: '+str(100*len(voters)-totalBallots))
    print('The complete results:')
    return results

In [75]:
df = pd.read_csv('./data.csv')
df

,name,1,2,3,4,5,6,7,8,9,...,C,D,E,F,G,H,I,J,K,L
0,A,85,0,0,0,55,70,0,0,0,...,99,29,99,49,49,49,79,29,79,49
1,B,0,0,0,30,100,0,90,0,0,...,0,0,0,0,0,0,0,0,0,0
2,C,100,100,100,0,100,100,0,100,100,...,0,0,100,100,0,100,0,0,100,0
3,D,80,0,70,90,90,85,0,0,0,...,100,0,100,100,0,100,0,0,100,0
4,E,83,73,86,93,71,76,93,74,57,...,0,0,0,0,0,0,0,0,0,0
5,F,0,0,0,0,0,0,0,0,50,...,0,0,30,0,90,95,0,0,30,90
6,G,80,0,0,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
7,H,50,0,0,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,I,90,70,0,70,65,75,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,J,0,0,0,20,0,0,40,0,40,...,0,0,0,0,0,0,0,0,0,0
10,K,20,0,0,10,0,0,40,0,0,...,0,0,0,15,0,15,0,0,0,0
11,L,0,0,35,35,0,0,0,0,0,...,10,0,10,0,10,0,0,0,0,0

In [80]:
getVotingResult(df)

The first option is: Adaptation WITHIN Ordinary
The second option is: Decentralization WITHIN Resilience
===================================================
Total votes: 1170
Abstention: 30
The complete results:

{'Adaptation WITHIN Ordinary': 284.16094026881495,
 'Chances WITHIN Reach/Doorstep': 45.05116954276926,
 'Data WITHIN Users': 93.94543601344137,
 'Decentralization WITHIN Resilience': 213.33952630208168,
 'Flexibility WITHIN Resilience': 100.72829621442884,
 'Individual WITHIN Crowd': 66.38527653229008,
 'Normality WITHIN Resilience': 152.89450498741263,
 'Resilience WITHIN Order': 24.707434882381126,
 'Space WITHIN Epidemic': 92.75384401461005,
 'Parking WITHIN Reach': 96.03357124177002}

In [81]:
sum(getVotingResult(df).values())

The first option is: Adaptation WITHIN Ordinary
The second option is: Decentralization WITHIN Resilience
===================================================
Total votes: 1170
Abstention: 30
The complete results:

1170.0

In [50]:
df = pd.read_csv('./data.csv')
df

,name,1,2,3,4,5,6,7,8,9,...,C,D,E,F,G,H,I,J,K,L
0,A,85,0,0,0,55,70,0,0,0,...,99,29,99,49,49,49,79,29,79,49
1,B,0,0,0,30,100,0,90,0,0,...,0,0,0,0,0,0,0,0,0,0
2,C,100,100,100,0,100,100,0,100,100,...,0,0,100,100,0,100,0,0,100,0
3,D,80,0,70,90,90,85,0,0,0,...,100,0,100,100,0,100,0,0,100,0
4,E,83,73,86,93,71,76,93,74,57,...,0,0,0,0,0,0,0,0,0,0
5,F,0,0,0,0,0,0,0,0,50,...,0,0,30,0,90,95,0,0,30,90
6,G,80,0,0,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
7,H,50,0,0,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,I,90,70,0,70,65,75,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,J,0,0,0,20,0,0,40,0,40,...,0,0,0,0,0,0,0,0,0,0
10,K,20,0,0,10,0,0,40,0,0,...,0,0,0,15,0,15,0,0,0,0
11,L,0,0,35,35,0,0,0,0,0,...,10,0,10,0,10,0,0,0,0,0

In [34]:
votees = list(df)
del votees[0]
votees

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L']

In [35]:
options = []
for i in range(10):
    options.append(str(i+1))
    
options

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [36]:
voters = [ 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L']
voters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [37]:
X = len(voters)
Y = len(options)
(X,Y)

(12, 10)

In [52]:
df = df.drop(columns = ['name'])
df

,1,2,3,4,5,6,7,8,9,10,...,C,D,E,F,G,H,I,J,K,L
0,85,0,0,0,55,70,0,0,0,60,...,99,29,99,49,49,49,79,29,79,49
1,0,0,0,30,100,0,90,0,0,80,...,0,0,0,0,0,0,0,0,0,0
2,100,100,100,0,100,100,0,100,100,100,...,0,0,100,100,0,100,0,0,100,0
3,80,0,70,90,90,85,0,0,0,0,...,100,0,100,100,0,100,0,0,100,0
4,83,73,86,93,71,76,93,74,57,83,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,50,50,...,0,0,30,0,90,95,0,0,30,90
6,80,0,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
7,50,0,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,90,70,0,70,65,75,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,20,0,0,40,0,40,0,...,0,0,0,0,0,0,0,0,0,0
10,20,0,0,10,0,0,40,0,0,0,...,0,0,0,15,0,15,0,0,0,0
11,0,0,35,35,0,0,0,0,0,0,...,10,0,10,0,10,0,0,0,0,0

In [53]:
df['total'] = df.apply(lambda x: x.sum(), axis=1)
df

,1,2,3,4,5,6,7,8,9,10,...,D,E,F,G,H,I,J,K,L,total
0,85,0,0,0,55,70,0,0,0,60,...,29,99,49,49,49,79,29,79,49,929
1,0,0,0,30,100,0,90,0,0,80,...,0,0,0,0,0,0,0,0,0,300
2,100,100,100,0,100,100,0,100,100,100,...,0,100,100,0,100,0,0,100,0,1400
3,80,0,70,90,90,85,0,0,0,0,...,0,100,100,0,100,0,0,100,0,915
4,83,73,86,93,71,76,93,74,57,83,...,0,0,0,0,0,0,0,0,0,789
5,0,0,0,0,0,0,0,0,50,50,...,0,30,0,90,95,0,0,30,90,465
6,80,0,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,30,130
7,50,0,0,20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,70
8,90,70,0,70,65,75,0,0,0,0,...,0,0,0,0,0,0,0,0,0,370
9,0,0,0,20,0,0,40,0,40,0,...,0,0,0,0,0,0,0,0,0,100
10,20,0,0,10,0,0,40,0,0,0,...,0,0,15,0,15,0,0,0,0,100
11,0,0,35,35,0,0,0,0,0,0,...,0,10,0,10,0,0,0,0,0,100

In [55]:
for i in range(len(df)):
    if df['total'][i]>100:
        df.iloc[i] = df.iloc[i]/df['total'][i]*100
        
totalBallots = sum(df['total'])
    
print(totalBallots)
df

1170

,1,2,3,4,5,6,7,8,9,10,...,D,E,F,G,H,I,J,K,L,total
0,9.149623,0.000000,0.000000,0.000000,5.920344,7.534984,0.000000,0.000000,0.000000,6.458558,...,3.121636,10.656620,5.274489,5.274489,5.274489,8.503767,3.121636,8.503767,5.274489,100
1,0.000000,0.000000,0.000000,10.000000,33.333333,0.000000,30.000000,0.000000,0.000000,26.666667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
2,7.142857,7.142857,7.142857,0.000000,7.142857,7.142857,0.000000,7.142857,7.142857,7.142857,...,0.000000,7.142857,7.142857,0.000000,7.142857,0.000000,0.000000,7.142857,0.000000,100
3,8.743169,0.000000,7.650273,9.836066,9.836066,9.289617,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.928962,10.928962,0.000000,10.928962,0.000000,0.000000,10.928962,0.000000,100
4,10.519645,9.252218,10.899873,11.787072,8.998733,9.632446,11.787072,9.378961,7.224335,10.519645,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.752688,10.752688,...,0.000000,6.451613,0.000000,19.354839,20.430108,0.000000,0.000000,6.451613,19.354839,100
6,61.538462,0.000000,0.000000,15.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.076923,100
7,50.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70
8,24.324324,18.918919,0.000000,18.918919,17.567568,20.270270,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
9,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,40.000000,0.000000,40.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
10,20.000000,0.000000,0.000000,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,15.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,100
11,0.000000,0.000000,35.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100

In [40]:
# for i in range(len(df)):
#     df.iloc[i] = df.iloc[i]/df['total'][i]*100
    
# df

,1,2,3,4,5,6,7,8,9,10,...,D,E,F,G,H,I,J,K,L,total
0,9.149623,0.000000,0.000000,0.000000,5.920344,7.534984,0.000000,0.000000,0.000000,6.458558,...,3.121636,10.656620,5.274489,5.274489,5.274489,8.503767,3.121636,8.503767,5.274489,100
1,0.000000,0.000000,0.000000,10.000000,33.333333,0.000000,30.000000,0.000000,0.000000,26.666667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
2,7.142857,7.142857,7.142857,0.000000,7.142857,7.142857,0.000000,7.142857,7.142857,7.142857,...,0.000000,7.142857,7.142857,0.000000,7.142857,0.000000,0.000000,7.142857,0.000000,100
3,8.743169,0.000000,7.650273,9.836066,9.836066,9.289617,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.928962,10.928962,0.000000,10.928962,0.000000,0.000000,10.928962,0.000000,100
4,10.519645,9.252218,10.899873,11.787072,8.998733,9.632446,11.787072,9.378961,7.224335,10.519645,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.752688,10.752688,...,0.000000,6.451613,0.000000,19.354839,20.430108,0.000000,0.000000,6.451613,19.354839,100
6,61.538462,0.000000,0.000000,15.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.076923,100
7,71.428571,0.000000,0.000000,28.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
8,24.324324,18.918919,0.000000,18.918919,17.567568,20.270270,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
9,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,40.000000,0.000000,40.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100
10,20.000000,0.000000,0.000000,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,15.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,100
11,0.000000,0.000000,35.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100

In [56]:
df1 = df.iloc[:, 0:10]
df2 = df.iloc[:,10:-1]

In [57]:
df1

,1,2,3,4,5,6,7,8,9,10
0,9.149623,0.000000,0.000000,0.000000,5.920344,7.534984,0.000000,0.000000,0.000000,6.458558
1,0.000000,0.000000,0.000000,10.000000,33.333333,0.000000,30.000000,0.000000,0.000000,26.666667
2,7.142857,7.142857,7.142857,0.000000,7.142857,7.142857,0.000000,7.142857,7.142857,7.142857
3,8.743169,0.000000,7.650273,9.836066,9.836066,9.289617,0.000000,0.000000,0.000000,0.000000
4,10.519645,9.252218,10.899873,11.787072,8.998733,9.632446,11.787072,9.378961,7.224335,10.519645
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.752688,10.752688
6,61.538462,0.000000,0.000000,15.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,50.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,24.324324,18.918919,0.000000,18.918919,17.567568,20.270270,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,40.000000,0.000000,40.000000,0.000000
10,20.000000,0.000000,0.000000,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,35.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [58]:
df2

,A,B,C,D,E,F,G,H,I,J,K,L
0,0.000000,5.274489,10.656620,3.121636,10.656620,5.274489,5.274489,5.274489,8.503767,3.121636,8.503767,5.274489
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,7.142857,7.142857,0.000000,0.000000,7.142857,7.142857,0.000000,7.142857,0.000000,0.000000,7.142857,0.000000
3,0.000000,0.000000,10.928962,0.000000,10.928962,10.928962,0.000000,10.928962,0.000000,0.000000,10.928962,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,6.451613,0.000000,0.000000,6.451613,0.000000,19.354839,20.430108,0.000000,0.000000,6.451613,19.354839
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.076923
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,10.000000,0.000000,10.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [59]:
df1['counts'] = df1.apply(lambda x: x.sum(), axis=1)
df1

,1,2,3,4,5,6,7,8,9,10,counts
0,9.149623,0.000000,0.000000,0.000000,5.920344,7.534984,0.000000,0.000000,0.000000,6.458558,29.063509
1,0.000000,0.000000,0.000000,10.000000,33.333333,0.000000,30.000000,0.000000,0.000000,26.666667,100.000000
2,7.142857,7.142857,7.142857,0.000000,7.142857,7.142857,0.000000,7.142857,7.142857,7.142857,57.142857
3,8.743169,0.000000,7.650273,9.836066,9.836066,9.289617,0.000000,0.000000,0.000000,0.000000,45.355191
4,10.519645,9.252218,10.899873,11.787072,8.998733,9.632446,11.787072,9.378961,7.224335,10.519645,100.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.752688,10.752688,21.505376
6,61.538462,0.000000,0.000000,15.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,76.923077
7,50.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000
8,24.324324,18.918919,0.000000,18.918919,17.567568,20.270270,0.000000,0.000000,0.000000,0.000000,100.000000
9,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,40.000000,0.000000,40.000000,0.000000,100.000000
10,20.000000,0.000000,0.000000,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,70.000000
11,0.000000,0.000000,35.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000

In [60]:
df2.loc['ballots'] = df2.apply(lambda x: x.sum())
df2

,A,B,C,D,E,F,G,H,I,J,K,L
0,0.000000,5.274489,10.656620,3.121636,10.656620,5.274489,5.274489,5.274489,8.503767,3.121636,8.503767,5.274489
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,7.142857,7.142857,0.000000,0.000000,7.142857,7.142857,0.000000,7.142857,0.000000,0.000000,7.142857,0.000000
3,0.000000,0.000000,10.928962,0.000000,10.928962,10.928962,0.000000,10.928962,0.000000,0.000000,10.928962,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,6.451613,0.000000,0.000000,6.451613,0.000000,19.354839,20.430108,0.000000,0.000000,6.451613,19.354839
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.076923
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,10.000000,0.000000,10.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ballots,7.142857,18.868959,31.585582,3.121636,45.180052,38.346308,34.629327,58.776415,8.503767,3.121636,33.027199,47.706250

In [61]:
df1['realCounts'] = df1['counts']
for i in range(len(df)):
    df1['realCounts'][i] += df2[voters[i]]['ballots']
    
df1

,1,2,3,4,5,6,7,8,9,10,counts,realCounts
0,9.149623,0.000000,0.000000,0.000000,5.920344,7.534984,0.000000,0.000000,0.000000,6.458558,29.063509,36.206366
1,0.000000,0.000000,0.000000,10.000000,33.333333,0.000000,30.000000,0.000000,0.000000,26.666667,100.000000,118.868959
2,7.142857,7.142857,7.142857,0.000000,7.142857,7.142857,0.000000,7.142857,7.142857,7.142857,57.142857,88.728439
3,8.743169,0.000000,7.650273,9.836066,9.836066,9.289617,0.000000,0.000000,0.000000,0.000000,45.355191,48.476827
4,10.519645,9.252218,10.899873,11.787072,8.998733,9.632446,11.787072,9.378961,7.224335,10.519645,100.000000,145.180052
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.752688,10.752688,21.505376,59.851684
6,61.538462,0.000000,0.000000,15.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,76.923077,111.552404
7,50.000000,0.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000,128.776415
8,24.324324,18.918919,0.000000,18.918919,17.567568,20.270270,0.000000,0.000000,0.000000,0.000000,100.000000,108.503767
9,0.000000,0.000000,0.000000,20.000000,0.000000,0.000000,40.000000,0.000000,40.000000,0.000000,100.000000,103.121636
10,20.000000,0.000000,0.000000,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,70.000000,103.027199
11,0.000000,0.000000,35.000000,35.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000,117.706250

In [62]:
for i in range(len(df1)):
    for option in options:
        df1[option][i] = df1[option][i]*df1['realCounts'][i]/df1['counts'][i]
df1

,1,2,3,4,5,6,7,8,9,10,counts,realCounts
0,11.398300,0.000000,0.000000,0.000000,7.375371,9.386836,0.000000,0.000000,0.000000,8.045859,29.063509,36.206366
1,0.000000,0.000000,0.000000,11.886896,39.622986,0.000000,35.660688,0.000000,0.000000,31.698389,100.000000,118.868959
2,11.091055,11.091055,11.091055,0.000000,11.091055,11.091055,0.000000,11.091055,11.091055,11.091055,57.142857,88.728439
3,9.344931,0.000000,8.176814,10.513047,10.513047,9.928989,0.000000,0.000000,0.000000,0.000000,45.355191,48.476827
4,15.272426,13.432375,15.824442,17.112478,13.064365,13.984390,17.112478,13.616380,10.488293,15.272426,100.000000,145.180052
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.925842,29.925842,21.505376,59.851684
6,89.241923,0.000000,0.000000,22.310481,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,76.923077,111.552404
7,91.983154,0.000000,0.000000,36.793261,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000,128.776415
8,26.392808,20.527740,0.000000,20.527740,19.061473,21.994007,0.000000,0.000000,0.000000,0.000000,100.000000,108.503767
9,0.000000,0.000000,0.000000,20.624327,0.000000,0.000000,41.248654,0.000000,41.248654,0.000000,100.000000,103.121636
10,29.436343,0.000000,0.000000,14.718171,0.000000,0.000000,58.872685,0.000000,0.000000,0.000000,70.000000,103.027199
11,0.000000,0.000000,58.853125,58.853125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.000000,117.706250

In [63]:
result = {}
for option in options:
    result[option] = sum(df1[option])
    
result

{'1': 284.16094026881495,
 '2': 45.05116954276926,
 '3': 93.94543601344137,
 '4': 213.33952630208168,
 '5': 100.72829621442884,
 '6': 66.38527653229008,
 '7': 152.89450498741263,
 '8': 24.707434882381126,
 '9': 92.75384401461005,
 '10': 96.03357124177002}

In [64]:
btos = sorted(list(result.values()), reverse = True)
btos

[284.16094026881495,
 213.33952630208168,
 152.89450498741263,
 100.72829621442884,
 96.03357124177002,
 93.94543601344137,
 92.75384401461005,
 66.38527653229008,
 45.05116954276926,
 24.707434882381126]

In [65]:
first = list(result.values()).index(btos[0])
second = list(result.values()).index(btos[1])

In [66]:
optionList = ['Adaptation WITHIN Ordinary', 'Chances WITHIN Reach/Doorstep', 'Data WITHIN Users', 
             'Decentralization WITHIN Resilience', 'Flexibility WITHIN Resilience', 'Individual WITHIN Crowd',
             'Normality WITHIN Resilience', 'Resilience WITHIN Order', 'Space WITHIN Epidemic', 'Transit WITHIN ...']